.lista{
    display: none;
}

#juego {
    border: 2px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 10px;
    float: left;
    margin: 10px 20px;
}



#juego div {
    width: 400px;
    margin: 0 auto;
}


/* style for each square in the puzzle */
.letras button {
    position:static;
    background-color: #3787ff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    margin: 1px;
    transition: background-color 0.6s;
    height: 40px;
    width: 40px;
  }
  .letras button:hover {
    background-color: #2e8131;
  }
  
  .letras .b-resolver .resolver{
    background-color: #57ff51;
    text-align: left;
    height: 40px;
    width: 100px;
  }


/* indicates when a square has been selected */

#juego .selected {
    background-color: orange;
}


/* indicates that the square is part of a word that has been found */

#juego .found {
    background-color: blue;
    color: white;
}

#juego .solved {
    background-color: purple;
    color: white;
}
#juego .complete {
    background-color: green;
}
#Palabras {
    margin-top: 20px;
    margin-right: 5px;
    text-align: justify;
    font-size: 18px;
}

ul {
    list-style-type: none;
    text-align: left;
    text-size-adjust: 18px;
}

li {
  font-size: 18px;
  list-style: none;
  text-align: left;
  margin-top: 8px;
}

#Palabras .wordFound {
    text-decoration: line-through;
    color: rgb(255, 0, 0);
}