
/* === animacion de carga ===*/
#loader {
  background-image: url("../../../images/bubble-gum-womans-head.gif");
  background-size: cover;
  position: absolute;
  margin: auto;
  inset: 0;
  width: 180px;
  height: 180px;
  animation: 5s;
}

#card-container{
  display: none;
}

/*=== div que contiene el boton x y la barra de progreso */
.conteinerBotonBarra{
  width: 80%;
  height: 25px;
  margin: 2em auto 0;
  display: block;
  text-align: center;

}

.bar-pro {
  margin-top: 3px;
  float: right;
  width: 95%;
  border-radius: 10px;
  background-color: #ffffff;
}
.progre {
  background-color: #59ff53;
  border-radius: 10px;
}

.boton_x{
  margin-top: 2px;
  margin-left: 20px;
  display: flex;
  float: left;
  font-family: 'Tilt Neon', sans-serif;
  height: 20px;
  font-size: 20px;
  border: none;
  background-color: #ffffff;
  justify-content: center; /* Alinear horizontalmente */
  align-items: center; /* Alinear verticalmente */
}

.boton_x:hover {
  background-color: #ff6b6b; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.card {

  width: 80%;
  height: 450px;
  margin: 0 auto; /* Centrar la tarjeta */
  padding: 0 20px; /* Agregar un poco de espacio a los lados */
  display: none;
  text-align: center;
}


.card.active {
  display: block;
}


.card h2 {
  position: relative;
  font-weight: bold;
  font-family: 'Tilt Neon', sans-serif;
  font-size: 35px;
  text-align: center;
}
.card h3 {
  position: relative;
  font-weight: bold;
  font-family: 'Tilt Neon', sans-serif;
  font-size: 25px;
  text-align: center;
}
.card p {
  position: relative;
  font-family: 'Tilt Neon', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: justify;
}

.card ul {
  text-align: left;
  position: relative;
  font-family: 'Tilt Neon', sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  list-style: none;
}
.card img {
  margin-top: 0;
}

.contBotonSig{
  width: 80%;
  margin: auto; 
  text-align: right;
  height: 60px;
}
#next-button {
  font-family: 'Tilt Neon', sans-serif;
  width: 140px;
  height: 50px;
  font-size: 20px;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #35dd4c;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #8a8989;
}
#next-button:hover {
    background-color: #26fa1e; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#next-button:active {
  background-color: #078b03;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.tittle{
  font-size: 18px;
}
.img-1{
  width: 300px;
}
.contFeliz {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;

}
.img-2{
  width: 30%;
}
.indicaciones{
  margin-left: 10%;
  width: auto;
}
@media only screen and (max-width: 600px) {
  .conteinerBotonBarra{
    width: 100%;
  }
  .boton_x{
    margin-left: 0;
  }
  .card{
    width: 100%;
    height: auto;
  }
  .contBotonSig {
    width: 100%;
  }
  .indicaciones{
    margin-left: 0;
  }
  .img-2{
    width: 50%;
  }
}
#finalizar {
  font-family: 'Tilt Neon', sans-serif;
  width: 140px;
  height: 50px;
  font-size: 20px;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #35dd4c;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #8a8989;
}
#finalizar:hover {
  background-color: #38ff74; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#finalizar:active {
background-color: #93ff7d;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
